* {
    font-family: 'Garamond', sans-serif;
    box-sizing: border-box;
}

html {
    background-image: url('starterhacks.png');
    background-position: left;
}


#heading {
    font-size: 52px;
    text-align:  center;  
    color: white;
    background-color: rgba(50,50,50,0.5);
}

#boxes { 
    display: flex;
    color: white;
}

#pre-req-box {
    margin-left: 25%;
    margin-right: 12.5%;
    background-color: rgba(50,50,50,0.5);
    text-align: center;
    width: 12.5%;
    height: 100%;
}

#post-req-box {
    margin-left: 12.5%;
    margin-right: 25%;
    background-color: rgba(50,50,50,0.5);
    text-align: center;
    width: 12.5%;
    height: 100%;
} 



#pre_name, #pre_num, #post_name, #post_num{
    margin: auto;
    font-family: Calibri;
    text-align: center;
    width: 80%;
}