* {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    box-sizing: border-box;
}

html {
    //background-color: #fafafa;
}


#heading {
    font-size: 52px;
    text-align:  center;  
    color: #ffffff;
    background-color: rgba(144, 144, 144, 0.5);
    border-radius: 55px;
    align-self: center;
    float:none;
}

#boxes { 
   // background-color: #fafafa;
    width: 90%;
    //color: white;
}

#pre-req-box {
   // background-color: rgba(50,50,50,0.5);
    text-align: center;
    height: 100%;
    
}

#post-req-box {
    //background-color: rgba(50,50,50,0.5);
    text-align: center;
    border-width: medium
    height: 100%;
} 


#pre_name, #pre_num, #post_name, #post_num {
    margin: auto;
    text-align: center;
    width: 80%;
    background-color: #e3e3e3;
    border-radius: 20px;
    border-width: 0px;
}


#sub {
    background-color: #b5b5b5;
    color: #fff;
    border-width: 0;
    border-radius: 10px; 
}

#pre-req-result, #post-req-result {
    background-color: #e6e6e6;
    text-align: left;
    color: #000;
}

#bottom-img1 {
    filter: grayscale(50%);
    float:left;
    margin-top:50px;
    width:50%;
}

#bottom-img2 {
    filter: grayscale(50%);
    float:left;
    margin-top:50px;
    width:50%;
}